.app {
  text-align: center;
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.register{
  border-radius: 20px;
  box-shadow: 0 0 12px 5px grey;
}
.btn{
  cursor: pointer;
}
